<header class="header">
  <div class="wrap">
    {% if page.url == "/" %}
      <h1 class="header__title">
        <a href="{{ site.baseurl }}/" class="header__logo" title="{{ site.title }}">
          {{ site.title }}
        </a>
      </h1>
      <div class="search" id="search">
        <input type="text" autocomplete="off" name="query" placeholder="Rechercher..." id="query" class="search__input" />
      </div>
    {% else %}
      <a href="{{ site.baseurl }}/" class="header__logo" title="{{ site.title }}">
        {{ site.title }}
      </a>
    {% endif %}
  </div>
</header>
