.header {
  text-align: center;
  border-bottom: 1px solid #eee;
  padding: 40px 0;
  margin-bottom: 40px;

  @media screen and (max-width: $content-width) {
    padding: 24px 0;
    margin-bottom: 28px;
  }
}

.header__title {
  margin: 0;
  font-size: 16px;
}

.header__logo {
  display: inline-block;
  height: 72px;
  width: 72px;
  text-indent: -9999px;

  background-size: cover;
  background-image: url('../img/logo.png');
  background-position: center;
  background-repeat: no-repeat;

  &:hover {
    border: 0;
  }

  @media screen and (max-width: $content-width) {
    height: 56px;
    width: 56px;
  }
}
