.header {
  text-align: center;
  border-bottom: 1px solid #eee;
  padding: 2.5em 0;
  margin-bottom: 2.5em;

  @media screen and (max-width: $content-width) {
    padding: 1.5em 0;
    margin-bottom: 1.75em;
  }
}

.header__title {
  margin: 0;
  font-size: 1em;
}

.header__logo {
  display: inline-block;
  height: 4.5em;
  width: 4.5em;
  text-indent: -9999px;

  background-size: cover;
  background-image: url('../img/logo.png');
  background-position: center;
  background-repeat: no-repeat;

  &:hover {
    border: 0;
  }

  @media screen and (max-width: $content-width) {
    height: 3.5em;
    width: 3.5em;
  }
}
