.header {
  border-bottom: 1px solid #eee;
  padding: 20px 0;
  margin-bottom: 40px;

  @media screen and (max-width: $content-width) {
    padding: 18px 10px;
    margin-bottom: 28px;
  }
}

.header__title {
  display: inline-block;
  margin: 0;
  font-size: 23px;

  @media screen and (max-width: $content-width) {
    font-size: 20px;
  }
}

.header__logo {
  display: inline-block;
  font-size: 23px;
  font-weight: 900;
  line-height: 1.25;
  font-family: "Montserrat", sans-serif;
  letter-spacing: -1px;
  color: #333;

  &:hover {
    background-color: #ff6;
    border: 0;
  }

  @media screen and (max-width: $content-width) {
    font-size: 20px;
  }
}
