.post {

}

.post__header {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #eee;
  text-align: center;

  @media screen and (max-width: $content-width) {
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
}

.post__title {
  margin: 0 0 20px 0;
  font-size: 36px;

  @media screen and (max-width: $content-width) {
    font-size: 26px;
  }
}

.post__meta {
  color: #9F9F9F;
  font-size: 16px;
  margin: 0;

  @media screen and (max-width: $content-width) {
    font-size: 13px;
  }
}

.post__date {
  position: relative;

  &:after {
    display: inline;
    content: '–';
    margin: 0 8px;
  }
}

.post__author-pic {
  display: inline-block;
  width: 28px;
  height: 28px;
  border-radius: 28px;
  vertical-align: middle;
}

.post__content {
  font-size: 18px;

  h2 {
    margin-top: 45px;
  }

  img {
    display: block;
    max-width: 126%;
    height: auto;
    padding: 8px 0;
    position: relative;
    left: 50%;
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);

    @media screen and (max-width: $content-width) {
      padding: 0;
      width: calc(100% + 32px);
      min-width: 0;
      max-width: 112%;
    }
  }

  @media screen and (max-width: $content-width) {
    font-size: 16px;
  }
}

.post__footer {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin: 32px 0;
  padding: 24px 0;
}

.post__anchor {
  color: #ccc;
  font-weight: normal;
  font-size: 90%;

  &:hover {
    color: #555;
    border: none;
  }
}

.no-csstransforms {
  .post__content {
    img {
      display: block;
      padding: 8px 0;
      margin: 0 auto;
      max-width: 100%;
      left: inherit;

      @media screen and (max-width: $content-width) {
        padding: 0;
        width: auto;
        max-width: 100%;
      }
    }
  }
}
