.post-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.post-list__item {
  @extend %clearfix;

  display: table;
  width: 100%;
  border-bottom: 1px solid #f1f1f1;
  padding-bottom: 16px;
  margin-bottom: 16px;

  &:last-child {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  @media screen and (max-width: $content-width) {
    padding-bottom: 12px;
    margin-bottom: 12px;
  }
}

.post-list__item--faded {
  opacity: .25;
}

.post-list__category {
  display: table-cell;
  vertical-align: middle;
  width: 64px;

  @media screen and (max-width: $content-width) {
    width: 48px;
  }
}

.post-list__icon {
  width: 48px;
  height: 48px;

  @media screen and (max-width: $content-width) {
    width: 32px;
    height: 32px;
  }
}

.post-list__details {
  display: table-cell;
  vertical-align: middle;
}

.post-list__title {
  margin: 0;
  margin-bottom: 0;
  font-size: 20px;

  @media screen and (max-width: $content-width) {
    font-size: 16px;
  }
}

.post-list__link {
  color: #333;

  &:hover {
    text-decoration: none;
    background-color: #ff6;
    border: 0;
  }
}

.post-list__meta {
  color: #999;
  font-size: 15px;

  @media screen and (max-width: $content-width) {
    font-size: 13px;
  }
}
