.post-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.post-list__item {
  @extend %clearfix;

  display: table;
  width: 100%;
  border-bottom: 1px solid #f1f1f1;
  padding-bottom: 1em;
  margin-bottom: 1em;

  &:last-child {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  @media screen and (max-width: $content-width) {
    padding-bottom: .75em;
    margin-bottom: .75em;
  }
}

.post-list__item--faded {
  opacity: .25;
}

.post-list__category {
  display: table-cell;
  vertical-align: middle;
  width: 4em;

  @media screen and (max-width: $content-width) {
    width: 3em;
  }
}

.post-list__icon {
  width: 3em;
  height: 3em;

  @media screen and (max-width: $content-width) {
    width: 2em;
    height: 2em;
  }
}

.post-list__details {
  display: table-cell;
  vertical-align: middle;
}

.post-list__title {
  margin: 0;
  margin-bottom: 0;
  font-size: 1.25em;

  @media screen and (max-width: $content-width) {
    font-size: 1em;
  }
}

.post-list__link {
  color: #333;

  &:hover {
    text-decoration: none;
    background-color: #ff6;
    border: 0;
  }
}

.post-list__meta {
  color: #999;
  font-size: .95em;

  @media screen and (max-width: $content-width) {
    font-size: .85em;
  }
}
