.post {

}

.post__header {
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #eee;
  text-align: center;

  @media screen and (max-width: $content-width) {
    margin-bottom: 1.25rem;
    padding-bottom: 1.25rem;
  }
}

.post__title {
  margin: 0 0 1rem 0;
  font-size: 2.25rem;

  @media screen and (max-width: $content-width) {
    font-size: 1.5rem;
  }
}

.post__meta {
  color: rgba(0,0,0,.3);
  font-size: 1rem;
  margin: 0;

  @media screen and (max-width: $content-width) {
    font-size: .85rem;
  }
}

.post__date {
  position: relative;

  &:after {
    display: inline;
    content: '–';
    margin: 0 0.5rem;
  }
}

.post__author-pic {
  display: inline-block;
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 1.75rem;
  vertical-align: middle;
}

.post__content {
  font-size: 1.125rem;

  h2 {
    margin-top: 2.75rem;
  }

  h3 {
    margin-top: 1.5rem;
  }

  img {
    display: block;
    max-width: 126%;
    height: auto;
    padding: 0.6rem 0;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);

    @media screen and (max-width: $content-width) {
      padding: 0;
      width: calc(100% + 2rem);
      min-width: 0;
      max-width: 112%;
    }
  }

  @media screen and (max-width: $content-width) {
    font-size: 1rem;
  }
}

.post__footer {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin: 2rem 0;
  padding: 1.5rem 0;
}
