.post {

}

.post__header {
  margin-bottom: 2.5em;
  padding-bottom: 2.5em;
  border-bottom: 1px solid #eee;
  text-align: center;

  @media screen and (max-width: $content-width) {
    margin-bottom: 1.25em;
    padding-bottom: 1.25em;
  }
}

.post__title {
  margin: 0 0 .5em 0;
  font-size: 2.25em;

  @media screen and (max-width: $content-width) {
    font-size: 1.5em;
  }
}

.post__meta {
  color: #9F9F9F;
  font-size: 1em;
  margin: 0;

  @media screen and (max-width: $content-width) {
    font-size: .85em;
  }
}

.post__date {
  position: relative;

  &:after {
    display: inline;
    content: '–';
    margin: 0 0.5em;
  }
}

.post__author-pic {
  display: inline-block;
  width: 1.75em;
  height: 1.75em;
  border-radius: 1.75em;
  vertical-align: middle;
}

.post__content {
  font-size: 1.125em;

  h2 {
    margin-top: 2em;
  }

  img {
    display: block;
    max-width: 126%;
    height: auto;
    padding: 0.6em 0;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);

    @media screen and (max-width: $content-width) {
      padding: 0;
      width: calc(100% + 2em);
      min-width: 0;
      max-width: 112%;
    }
  }

  @media screen and (max-width: $content-width) {
    font-size: 1em;
  }
}

.post__footer {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin: 2em 0;
  padding: 1.5em 0;
}

.post__anchor {
  color: #ccc;
  font-weight: normal;
  font-size: 90%;

  &:hover {
    color: #555;
    border: none;
  }
}
