.search {
  display: table;
  width: 100%;
  margin-top: 2.5em;
  padding-top: 2.5em;
  border-top: 1px solid #eee;

  @media screen and (max-width: $content-width) {
    margin-top: 1.75em;
    padding-top: 1.75em;
  }
}

.search__input {
  display: table-cell;;
  border: 1px solid #ddd;
  font-size: 1em;
  padding: .5em .75em;
  border-radius: .25em;
  margin: 0 auto;
  width: 100%;

  &:focus {
    outline: 0;
  }
}

.search__powered {
  display: table-cell;
  width: 5.25em;
  min-width: 5.25em;
  text-align: right;
  font-size: 0.85em;
  vertical-align: middle;
  opacity: .75;
}

.search__link {
  &:hover {
    border: 0;
  }
}

.search__algolia {
  height: 1em;
}

.algolia__result-highlight {
  background-color: #ff6;
}
