.search {
  float: right;
}

.search__input {
  border: 1px solid #ddd;
  font-size: 15px;
  padding: 4px 6px;
  border-radius: 4px;
  margin: 0 auto;

  &:focus {
    outline: 0;
  }

  @media screen and (max-width: $content-width) {
    font-size: 14px;
    padding: 2px 4px;
  }
}

.search__powered {
  font-size: 14px;
  float: right;
}

.search__link {
  &:hover {
    border: 0;
  }
}

.search__algolia {
  height: 17px;
}

.search__results {
  @extend %clearfix;

  border-bottom: 1px solid #eee;
  padding-bottom: 5px;
  margin-bottom: 16px;
}

.search__count {
  font-size: 14px;
}

.algolia__result-highlight {
  background-color: #ff6;
}
