.shre {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.shre__item {
  display: inline-block;
  margin: 4px;
}

.shre__link {
  display: block;
  border-radius: 4px;
  color: #fff;
  padding: 4px 8px;
  font-size: 14px;

  &:hover {
    text-decoration: none;
    opacity: .8;
    border: 0;
  }
}

.shre__icon {
  display: inline-block;
  margin-right: 4px;
}

.shre__link--twitter {
  background-color: #55acee;
}

.shre__link--linkedin {
  background-color: #0077b5;
}

.shre__link--facebook {
  background-color: #3b5998;
}
