.soc {
  padding: 0;
  margin: 0;
  list-style: none;
}

.soc__item {
  display: inline-block;
  margin: 0 4px;

  @media screen and (max-width: $content-width) {
    display: block;
    margin: 24px 0;
  }
}

.soc__link {
  display: block;
  color: #fff;
  font-size: 15px;
  padding: 4px 8px;
  line-height: 1;

  &:hover {
    text-decoration: none;
    opacity: .7;
    border: 0;
  }
}

.soc__icon {
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
  margin-right: 5px;
}

.soc__link--twitter {
  color: #55acee;
}

.soc__link--linkedin {
  color: #0077b5;
}

.soc__link--github {
  color: #333;
}

.soc__link--rss {
  color: #f26522;
}
