$base-font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-weight: 400;
$base-line-height: 1.618;

$spacing-unit:     2em;

$text-color:       #333;
$background-color: #fff;
$link-color:       #2093d2;

$content-width:    45em;
