---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post__header">
    <h1 class="post__title" itemprop="name headline">
      {{ page.title }}
    </h1>
    <p class="post__meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished" class="post__date">
        {{ page.date | date: "%d/%m/%Y" }}
      </time>
      <span itemprop="author" itemscope itemtype="http://schema.org/Person">
        <img src="/assets/img/pic.jpg" alt="{{ page.author.name }}" class="post__author-pic" itemprop="image" />
        <a href="{{ page.author.url }}" target="_blank" itemprop="url">
          <span itemprop="name">{{ page.author.name }}</span>
        </a>
      </span>
    </p>
  </header>
  <div class="post__content" itemprop="articleBody">
    {{ content }}
  </div>
  <footer class="post__footer">
    <ul class="shre">
      <li class="shre__item">
        <a href="https://twitter.com/intent/tweet?text={{ page.title | cgi_escape }}&amp;url={{ page.url | prepend: site.baseurl | prepend: site.url | cgi_escape }}&amp;via={{ site.twitter }}&amp;hashtags={{ page.category }}" class="shre__link shre__link--twitter" rel="nofollow" target="_blank">
          <i class="fa fa-twitter shre__icon"></i>
          Tweeter
        </a>
      </li>
      <li class="shre__item">
        <a href="https://www.linkedin.com/shareArticle?title={{ page.title | cgi_escape }}&amp;url={{ page.url | prepend: site.baseurl | prepend: site.url | cgi_escape }}&amp;mini=true&amp;summary={{ page.excerpt | strip_html | strip_newlines | truncate: 160 | cgi_escape }}" class="shre__link shre__link--linkedin" target="_blank" rel="nofollow">
          <i class="fa fa-linkedin shre__icon"></i>
          Partager
        </a>
      </li>
      <li class="shre__item">
        <a href="http://www.facebook.com/sharer/sharer.php?u={{ page.url | prepend: site.baseurl | prepend: site.url | cgi_escape }}" class="shre__link shre__link--facebook" target="_blank" rel="nofollow">
          <i class="fa fa-facebook shre__icon"></i>
          Partager
        </a>
      </li>
    </ul>
  </footer>
</article>

<section class="comments">
  <div id="disqus_thread"></div>
  <script>
  (function() {
  var d = document, s = d.createElement('script');
  s.src = '//jordandanielewski.disqus.com/embed.js';
  s.setAttribute('data-timestamp', +new Date());
  (d.head || d.body).appendChild(s);
  })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</section>
